coverage>=3.7,<3.8
dj-database-url>=0.3.0
Django>=1.8,<1.9
django-cache-url>=0.8.0
django-localflavor-us>=1.1
django-nose>=1.4,<1.5
djangorestframework>=3.1.1,<3.2
-e git+https://github.com/revpoint/jangl-utils.git#egg=jangl-utils
nose>=1.3,<1.4
prettyconf>=0.2.0
pytz>=2015.2
six>=1.9.0
uwsgi
